AitBouchalaFatimaEzzahrae_TP5_SD/ws-soap/Client-soap-java/src/main/java/proxy/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9090/?xsd=1"/>
</xsd:schema>
</types>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="lisComptes">
<part name="parameters" element="tns:lisComptes"/>
</message>
<message name="lisComptesResponse">
<part name="parameters" element="tns:lisComptesResponse"/>
</message>
<message name="conversionEurotoDH">
<part name="parameters" element="tns:conversionEurotoDH"/>
</message>
<message name="conversionEurotoDHResponse">
<part name="parameters" element="tns:conversionEurotoDHResponse"/>
</message>
<portType name="BanqueService">
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="lisComptes">
<input wsam:Action="http://ws/BanqueService/lisComptesRequest" message="tns:lisComptes"/>
<output wsam:Action="http://ws/BanqueService/lisComptesResponse" message="tns:lisComptesResponse"/>
</operation>
<operation name="conversionEurotoDH">
<input wsam:Action="http://ws/BanqueService/conversionEurotoDHRequest" message="tns:conversionEurotoDH"/>
<output wsam:Action="http://ws/BanqueService/conversionEurotoDHResponse" message="tns:conversionEurotoDHResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lisComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionEurotoDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9090/"/>
</port>
</service>
</definitions>